body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}
header {
    background: #333;
    color: #fff;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li {
    margin-left: 20px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
}
hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #ddd;
}
main {
    padding: 30px;
    background: #fff;
}
section {
    margin-bottom: 20px;
    padding: 10px;
    background: #fafafa;
    border-radius: 5px;
}
h2 {
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    border-top: 1px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
}
article {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
figure {
    margin: 0;
    text-align: center;
    width: calc(100% / 3);
}
@media (max-width:1200px) {
    article {
        flex-direction: column;
    }
    figure {
        width: calc(100% / 1);
        padding: 30px 0;
    }
}
figure img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}
figure figcaption {
    margin-top: 10px;
}